<!DOCTYPE html>
<html>
    <head>
        <title>Fruit and Veggies</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
        <script src="js/fruit_and_veggies_test.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-app="FruitsVeggies" id="opacity">
        <div class="container">
            <h1>Fruit and Veggies</h1>
            <div ng-controller="produceCtrl">
                <div class="row">
                    <div class="col-sm-4">
                        Fruit
                        <div ng-repeat="item in fruit track by $index" ng-class="colorChanger(item)" class="well">
                            {{item}}
                             <button ng-click="rightArrow($index, item)" class="btn btn-primary"></button>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        Pool
                        <div ng-repeat="item in pool track by $index" class="well">
                            <button ng-click="leftArrow($index, item)" class="btn btn-primary"></button>
                                {{item}}
                            <button ng-click="rightArrow($index, item)" class="btn btn-primary"></button>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        vegetables
                        <div ng-repeat="item in vegetables track by $index" ng-class="colorChanger" class="well">
                        <button ng-click="leftArrow($index, item)" class="btn btn-primary"></button>
                            {{item}}
                        </div>
                        <div id="container"></div>
                    </div>                        
                </div>
            </div>
        </div>
    </body>
</html>